<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
=======
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
>>>>>>> cca7713fe63a70f56ae0d21d5b1c993e3fcf2230
}

body,
html {
<<<<<<< HEAD
    color: #ffffff;
    background-color: #000;
=======
  background-color: #000;
  color: #fff;
>>>>>>> cca7713fe63a70f56ae0d21d5b1c993e3fcf2230
}

a,
a:hover,
a:visited {
<<<<<<< HEAD
    color: unset;
    text-decoration: none;
}
=======
  color: unset;
  text-decoration: none;
}
>>>>>>> cca7713fe63a70f56ae0d21d5b1c993e3fcf2230
